@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    font-family: "Inconsolata", serif;

}
.onHover {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
   
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
    
}

.onHover:hover {
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
    
    transform: scale(1.05) ;
}
.moving {
    transition: transform 0.3s ease;
    animation: rotate360 20s linear infinite;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.logoSize {
    width: 26x;
    height: 26px;
}